<% let row = "even"; %>
<% for(let i=0;i<disp_users.length;i++){ %>
    <% if(i%2){%>
        <% row = "even"; %>
    <% } else{%>
        <% row = "odd"; }%>

    <tr class = <%= row %>>
        <td><%= disp_users[i].id %></td>
        <td><%= disp_users[i].email %></td>
        <td><%= disp_users[i].first %></td>
        <td><%= disp_users[i].last %></td>
        <td><%= disp_users[i].company %></td>
        <td><%= disp_users[i].country %></td>
        <td><%= disp_users[i].created_at %></td>
        <td id = "edit-table"><img src = "images/edit.png" id = "edit" width = 20 alt = "Modify user"></td>
        <td id = "delete-table"><img src = "images/delete.png" id = "delete" width = 20 alt = "Delete user"></td>
    </tr>
<% } %>